<div class="div">
<div>
  <a class="list">Listar</a>
  <table>
      <thead>
          <tr>
              <td>Nome</td>
              <td>Opções</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let person of peopleList,let i = index">
              <td>{{person.name}}</td>
              <button routerLink="/detalhar/{{i}}" type="button"> Ver Perfil </button>
              <button routerLink="/atualizar/{{i}}" type="button"> Editar </button>
              <button routerLink="/deletar/{{i}}" (click)="selecionar(person)" type="button">Deletar</button>
          </tr>
      </tbody>
  </table>
</div>
<div>
  <a routerLink="/cadastrar">cadastrar</a>
</div>
</div>
