<div>
  <table>
      <thead>
          <tr>
              <td>Nome</td>
              <td>Opções</td>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let person of peopleList,let i = index">
              <td>{{person.name}}</td>
              <td>
                  <button routerLink="/detalhar/{{person._id}}" type="button">Ver Perfil</button>
                  <button routerLink="/atualizar/{{person._id}}" type="button" class="margin">Editar</button>
                  <button routerLink="/deletar/{{person._id}}" (click)="selecionar(person)" type="button" class="margin">Deletar</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
